[submodule "submodules/raylib"]
	path = submodules/raylib
	url = https://github.com/raysan5/raylib
[submodule "submodules/neat-headers"]
	path = submodules/neat-headers
	url = https://github.com/pipieter/neat-headers
[submodule "submodules/box2d"]
	path = submodules/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "submodules/JoltPhysics"]
	path = submodules/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "submodules/r3d"]
	path = submodules/r3d
	url = https://github.com/Bigfoot71/r3d.git
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp.git
